.myAccount {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.myAccountLeft {
    margin-right: 5%;
}

.myAccountAd {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 10px;
    max-height: 275px;
}

.myAccountTitle {
    margin-right: 10px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.allItems{
    display: flex;
    flex-direction: column;
}

button {
    background: #0ac5da;
    width: 35%;
    height: 32px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #002f34;
    color: #111;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
}

#purchase {
    float: right;
    position: relative;
}
