.saleItem {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
}

.saleItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    align-items: left;
}

.saleItemImage {
    object-fit: contain;
    width: 120px;
    height: 120px;
    padding: 3%;
}

.saleItemPrice{
    font-size: 15px;
    font-weight: 700;
    padding: 2%;
}

.saleItemName {
    font-weight: 300;
}

.status {
    border: 1px solid;
    border-radius: 10px;
    margin: 3%;
    padding-left: 15%;
    padding-right: 15%;
}